* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* common design */
.container {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    margin-top: 130px;
}

.description {
    width: 750px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 20px;
    text-align: center;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header h1 {
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

header a {
    font-size: 17px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
}

header a:hover {
    background-color: #000;
    color: #fff;
}

/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(./assets/Hero-bg.png);
    padding: 20px;
}

.hero img {
    width: 150px;
    margin-bottom: 30px;
}

.hero h2 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 20px;
    width: 898px;
}

.hero button {
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px 21px 24px;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #444;
}

/* why web development section */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 84px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 12px;
}

.card-text {
    width: 400px;
    text-align: left;
}

.card-text h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 16px 0px;
}

.card-text p {
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    margin: 16px 0px;
}

.card-text button {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;

}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 26px;
    text-align: center;
    margin-bottom: 16px;
}

iframe {
    width: 100%;
    height: 448px;
    margin-top: 20px;
    border-radius: 16px;
}

/*  My Current Target Section */
.skill {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    border-radius: 16px;
    padding: 35px;
}
.bg1{
    background: rgba(255, 76, 30, 0.05);
}
.bg2{
    background: rgba(0, 76, 232, 0.05);
}
.skill h4 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
}

.skill p {
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.skill a {
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

/* My Next Target Section */
.efficiency {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.efficiency h4 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    margin: 8px 0px;
}

.efficiency p {
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0px;
}

.efficiency a {
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

/* Support Section */
.support {
    background: rgba(0, 0, 0, 0.4), , ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/handshake.jpg);
    padding: 64px 48px 64px 48px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.support-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
    margin: 16px 0px;
}

.support p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0px;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    text-align: center;
}

.support-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.support-form input[type="text"] {
    padding: 19px 20px 19px 20px;
    width: 300px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.support-form button {
    padding: 17px 20px 17px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: rgb(255, 255, 255);
    margin: 0px 16px;
    color: rgb(13, 19, 33);
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.support-form button:hover {
    background-color: #444;
    color:#fff;
}