* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* common design */
.container {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    margin-top: 130px;
}

.description {
    width: 750px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 20px;
    text-align: center;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header h1 {
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

header a {
    font-size: 17px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    text-decoration: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
}

header a:hover {
    background-color: #000;
    color: #fff;
}

/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(./assets/Hero-bg.png);
    padding: 20px;
}

.hero img {
    width: 150px;
    margin-bottom: 30px;
}

.hero h2 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 20px;
    width: 898px;
}

.hero button {
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px 21px 24px;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #444;
}

/* why web development section */
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 84px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 12px;
}

.card-text {
    width: 400px;
    text-align: left;
}

.card-text h4 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 16px 0px;
}

.card-text p {
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    margin: 16px 0px;
}

.card-text button {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;

}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 26px;
    text-align: center;
    margin-bottom: 16px;
}